:root {
  --dark-blue: #272343;
  --light-blue: #e3f6f5;
  --medium-blue: #bae8e8;
  --ship-color: rgba(164, 0, 209, 0.474);
  --hit-color: rgb(74, 67, 167);
  --miss-color: #ff0000;
  --green-color: #1bf5af;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--dark-blue);
}

form.introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
form.introduction-container.hide {
  height: 0;
  opacity: 0;
}
input#playerName {
  width: 30rem;
  height: 4rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
button.enterGame.btn {
  width: 4rem;
  height: 2rem;
  font-size: 1.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: height 0.1s ease-in-out 0.5s;
}

/*  */
section.gameover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #bae8e87c;
  pointer-events: all;
  transform: scale(1);
  transition: height 0.3s ease-in-out, transform 0.2s ease 0.35s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
section.gameover.hide {
  height: 0;
  transform: scale(0);
}
.gameover-box {
  width: 40%;
  text-align: center;
  background-color: var(--light-blue);
  padding: 3rem;
  border-radius: 1.5rem;
}
.gameover-box h1 {
  font-size: 4.5rem;
  padding-bottom: 3rem;
}

button.play-again.btn {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  background-color: var(--dark-blue);
  color: var(--light-blue);
}
/*  */
header.header-name {
  font-size: 6rem;
  font-weight: bold;
  height: 8rem;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out ;
}
.shipdropping {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 14rem;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out ;
}
.shipdropping.hide {
  opacity: 0;
  height: 0;
  transform: translateX(-16rem);
}
header.header-name.hide {
  opacity: 0;
  height: 0;
  transform: translateX(-16rem);
}
header.ships-input-prompt {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  right: 0;
  transform: translate(0, 0);
  transition: font-size ease-in-out 1.2s, right 700ms ease-in-out,
    transform 300ms 100ms;
}
header.ships-input-prompt.hide {
  right: 54rem;
  transform: translate(2rem, 0);
  font-size: 0;
}

header.ships-input-prompt::after {
  content: " Carrier";
  color: var(--medium-blue);
}
header.ships-input-prompt[name="BattleShip"]::after {
  content: " BattleShip";
}
header.ships-input-prompt[name="Cruiser"]::after {
  content: " Cruiser";
}
header.ships-input-prompt[name="Submarine"]::after {
  content: " Submarine";
}
header.ships-input-prompt[name="Destroyer"]::after {
  content: " Destroyer";
}
section.ships-input-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 3rem;
  color: var(--light-blue);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
section.ships-input-container.hide {
  display: none;
}

.btn {
  background: var(--light-blue);
  border-radius: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  transition: transform 150ms ease-in-out;
}
button.rotate-ship {
  padding: 0.4rem 15rem;
  font-size: 2.5rem;
  position: relative;
}
p.sticky-rotate {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  background: var(--medium-blue);
  font-size: 1.5rem;
  padding: 0.2rem 1.5rem;
  border-radius: 1rem;
}
main.ships-input-grid {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  width: 30rem;
  height: 30rem;
  gap: 2px;
}
main.ships-input-grid > .grid-coordinate {
  background-color: var(--light-blue);
  border-radius: 0.3rem;
}
main.ships-input-grid > .grid-coordinate.hover {
  background-color: var(--medium-blue);
}
main.ships-input-grid > .grid-coordinate.ship {
  background-color: var(--ship-color);
}
main.ships-input-grid > .grid-coordinate.invalid {
  cursor: not-allowed;
}
main.ships-input-grid > .grid-coordinate.hit {
  background-color: var(--hit-color);
}
main.ships-input-grid > .grid-coordinate.miss {
  background-color: var(--miss-color);
}

main.ships-input-grid.gameon {
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out;
}
main.ships-input-grid.enemy-grid {
  position: relative;
  transform: translateX(0);
  width: 30rem;
  transition: transform 1s ease, width 300ms ease;
}
main.ships-input-grid.enemy-grid.hide {
  width: 0;
  transform: translateX(40rem)
}
button.game-start {
  padding: 0.3rem 3rem;
  font-size: 2rem;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  /* transform: scale(1); */
  width: auto;
  transition: right 300ms ease-in-out;
}

button.game-start.hide {
  /* transform: scale(0); */
  right: -11rem;
}
.grids-container {
  display: flex;
  gap: 2rem;
  position: relative;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out 0.4s,opacity 0.6s ease-in-out 0.4s;
}
.grids-container.hide {
  transform: translateY(15rem);
  opacity: 0;
}
